<div class="container-fluid">
    <div class="about">
        <div class="card mt-3 shadow-lg">
            <img src="./assets/img/library-background.jpg" class="card-img" alt="Library image" height="119">
            <div class="card-title card-img-overlay bg-dark image-dark-opacity"></div>
            <div class="card-img-overlay">
                <h1 class="title text-center text-white">Project Creator</h1>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="d-inline col-sm-5">
                    </div>
                    <div class="d-inline col-sm-5">
                    </div>
                    <div class="d-inline col-sm-2">
                        <button class="btn btn-outline-dark btn-block" routerLink="/home">Home</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 shadow-lg">
            <div class="card-header mission-header">
                About Me
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="row">
                        <img class="card-img-top about-format-img col-sm-5" src="/assets/img/shadow-view.jpg" alt="Card image cap">
                        <div class="col-sm-3">
                            <ul>
                                <li>
                                    Name:
                                    <p>
                                        Michael Stewart.
                                    </p>
                                </li>
                                <li>
                                    Lastname:
                                    <p>
                                        Mazariegos Cáceres.
                                    </p>
                                </li>
                                <li>
                                    Section:
                                    <p>
                                        IN6AM.
                                    </p>
                                </li>
                                <li>
                                    license:
                                    <p>
                                        2015232.
                                    </p>
                                </li>
                                <li>
                                    course:
                                    <p>
                                        Informática.
                                    </p>
                                </li>
                            </ul>
                    </div>
                    </div>
                </div>
                <footer class="blockquote-footer">
                    LibHub <cite title=" Source Title">mmazariegos-2015232</cite>
                </footer>
                <img src="./assets/img/kinal-logo.png" alt="Logo Funcación Kinal" class="kinal-img">
            </div>
        </div>
    </div>
</div>